__pycache__
.DS_Store
*.gz
*.tgz
*.tar
*.jar
*.war
*.keytab
.classpath
.project
*.pub
*_key
*_rsa
*.jks
*.crt
*.csr
*.key
*.pkcs12
*.p12
*.srl
*.pem
*.der
*-creds
*.extfile
*.log
*/dependency-reduced-pom.xml
build
target
!/.gitignore
!/.vscode
!/.idea
*.pyc
.ipynb_checkpoints
.env
credentials.json
token.json
vactor_store
rag_store
*/outputs